<br>
<br>
<br>
<br>
<table>
    <tr>
        <th>Question</th>
        <th>Your Answer</th>
        <th>Answer</th>
        <th>Result</th>
    </tr>
<% @answers.each do |answer| %>
    <% @details = Answer.where(" question_id = ? ",answer.question_id ); %>
    <% @details.each do |detail| %>
        <tr>
            <td><%= detail.m_word.question_word %></td>
            <td><%= detail.characters %></td>
            <td><%= detail.m_word.answer_word %></td>
            <td><%= detail.correct %></td>
        </tr>
    <% end %> 
    <tr><td colspan="4" style="background: #80cdf1; text-align: center;"><b>Total true answers is <%= answer.sum %>/<%= answer.countdata %></b></td></tr>
<% end %>
</table>
<script type="text/javascript">
$(document).ready(function(){
    $("#home").attr('class', '');
    $("#history").attr('class', 'active');
});
</script>